{literal}
<SCRIPT type="text/javascript">
<!--
        function clearcounter()
        {
{/literal}
                location.href = '?m=clearcounter&id={$customerinfo.id}';
{literal}
        }
        function changetype()
        {
{/literal}
                location.href = '?m=changetype&id={$customerinfo.id}&type='+checkradio();
{literal}
        }
        function checkradio()
        {
                var tab = document['form1'].elements['msg[type]'];
                for (var i = 0; i < tab.length; i++) {
                        if (tab[i].checked) {
                                return i;
                        }
                }
        return -1;
        }
        function changevalue()
        {
{/literal}
                location.href = '?m=changevalue&id={$customerinfo.id}';
{literal}
        }
        function changestazowe()
        {
{/literal}
                location.href = '?m=stazowechange&id={$customerinfo.id}';
{literal}
        }
        function changedzienne()
        {
{/literal}
                location.href = '?m=dziennechange&id={$customerinfo.id}';
{literal}
        }
        function changenocne()
        {
{/literal}
                location.href = '?m=nocnechange&id={$customerinfo.id}';
{literal}
        }
        function changestazowe10p()
        {
{/literal}
                location.href = '?m=stazowe_p10&id={$customerinfo.id}';
{literal}
        }
        function zerujstazowe()
        {
{/literal}
                location.href = '?m=stazowezeruj&id={$customerinfo.id}';
{literal}
	}
        function zerujdzienne()
        {
{/literal}
                location.href = '?m=dziennezeruj&id={$customerinfo.id}';
{literal}
	}
        function zerujnocne()
        {
{/literal}
                location.href = '?m=nocnezeruj&id={$customerinfo.id}';
{literal}
	}
        function sendemail(data)
        {

                location.href = '?m=sendemail&id={/literal}{$customerinfo.id}{literal}&data='+data+'{/literal}';
{literal}
        }
        function clearlastclick()
        {
{/literal}
                location.href = '?m=clearlastclick&id={$customerinfo.id}';
{literal}
        }
//-->
</SCRIPT>{/literal}
<!--// $Id$ //-->
<TABLE class="lmsbox">
    <THEAD>
	<TR{if $customerpanel} class="hand" onClick="showOrHide('customerpanel');"{/if}>
		<TD WIDTH="1%">
			<IMG SRC="img/customer.gif" ALT="">
			<b>{if $customerpanel}{trans("Owner:")}{/if}
			{$customerinfo.customername|escape} ({$customerinfo.id|string_format:"%04d"}){if $customerinfo.deleted} <span class="red">({trans("deleted customer")})</span>{/if}</b>
		</TD>
	</TR>
    </THEAD>
    <TBODY>
    <TR {if $customerpanel} id="customerpanel" style="display:none;"{/if}>
	    <TD WIDTH="100%" {if $customerpanel} CLASS="container" ALIGN="RIGHT"{else}CLASS="container"{/if}>
			<TABLE WIDTH="100%" CELLPADDING="0">
				<TR>
					<TD WIDTH="50%" style="vertical-align:top;">
						<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="1%">
			{if $customerinfo.status == "3"}<IMG src="img/customer.gif" alt="">{/if}
			{if $customerinfo.status == "2"}<IMG src="img/wait.gif" alt="">{/if}
			{if $customerinfo.status == "1"}<IMG src="img/unk.gif" alt="">{/if}
		</TD>
		<TD WIDTH="99%">
			{if $customerinfo.status == "3"}<B>{trans("connected<!singular>")}</B>{/if}
			{if $customerinfo.status == "2"}<B>{trans("waiting")}</B>{/if}
			{if $customerinfo.status == "1"}<B>{trans("interested<!singular>")}</B>{/if}
		</TD>
	</TR>
{if $customerinfo.division}
	<TR>
		<TD WIDTH="1%">
			<IMG src="img/division.gif" alt="">
		</TD>
		<TD WIDTH="99%">
			{$customerinfo.division}
		</TD>
	</TR>
{/if}
{if $customerinfo.rbe neq ""}
       <TR CLASS="LIGHT">
               <TD WIDTH="1%">
                       <IMG SRC="img/node.gif" ALT="">
               </TD>
               <TD WIDTH="99%" COLSPAN="2">
                       {$customerinfo.rbe}
               </TD>
       </TR>
{/if}
	<TR>
		<TD WIDTH="1%">
			<IMG src="img/folder.gif" alt="">
		</TD>
		<TD WIDTH="99%">
			{if $customerinfo.type == $smarty.const.CTYPES_COMPANY}{assign var='type' value=$smarty.const.CTYPES_COMPANY}{$_CTYPES.$type}{elseif $customerinfo.type == $smarty.const.CTYPES_PRIVATE}{assign var='type' value=$smarty.const.CTYPES_PRIVATE}{$_CTYPES.$type}{/if}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" style="vertical-align: top">
			<IMG SRC="img/home.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{$customerinfo.address}<BR>
			{$customerinfo.zip} {$customerinfo.city}
			{if $customerinfo.cstate}<BR>{$customerinfo.cstate}{/if}
			{if $customerinfo.country}<BR>{t}{$customerinfo.country}{/t}{/if}
		</TD>
	</TR>
{if $customerinfo.post_name != "" || $customerinfo.post_address != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/post.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{if $customerinfo.post_name != ""}{$customerinfo.post_name}{/if}
			{if $customerinfo.post_address != ""}<BR>{$customerinfo.post_address}{/if}
			{$customerinfo.post_zip} {$customerinfo.post_city}
			{if $customerinfo.post_cstate}<BR>{$customerinfo.post_cstate}{/if}
			{if $customerinfo.post_country}<BR>{t}{$customerinfo.post_country}{/t}{/if}
		</TD>
	</TR>
{/if}
{foreach from=$customerinfo.contacts item=item}
	<TR>
		<TD WIDTH="1%" style="vertical-align: top">
			<IMG SRC="img/phone.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{$item.phone|wordwrap:3:" ":true}
			{if $item.typestr}[{$item.typestr}]{/if}
			{if $item.name} ({$item.name|truncate:"40":"...":true}){/if}
		</TD>
	</TR>
{/foreach}
{if $customerinfo.email != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/mail.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			<A HREF="mailto:{$customerinfo.email}">{$customerinfo.email}</A>
<A HREF="javascript:sendemail('2012')">Wyslij faktury za 2012</a> |
			<A HREF="javascript:sendemail('2013')"> za 2013</a> |
			<A HREF="javascript:sendemail('2014')"> za 2014</a> |
			<A HREF="javascript:sendemail('2015')"> za 2015</a>
		</TD>
	</TR>
{/if}
{foreach from=$customerinfo.messengers item=item}
	<TR>
		<TD>
			{if $item.type == $smarty.const.IM_GG}
			<IMG src="http://status.gadu-gadu.pl/users/status.asp?id={$item.uid}&styl=1" alt="">
			{elseif $item.type == $smarty.const.IM_YAHOO}
			<IMG src="http://opi.yahoo.com/online?u='{$item.uid}'&m=g&t=5" alt="">
			{elseif $item.type == $smarty.const.IM_SKYPE}
			<IMG src="http://mystatus.skype.com/smallicon/{$item.uid}" alt="">
			{else}
			<IMG src="img/gg.gif" alt="">
			{/if}
		</TD>
		<TD>
			{if $item.type == $smarty.const.IM_GG}
			<A HREF="gg:{$item.uid}">{$item.uid}</A>
			{elseif $item.type == $smarty.const.IM_YAHOO}
			<A HREF="ymsgr:sendIM?{$item.uid}">{$item.uid}</A>
			{elseif $item.type == $smarty.const.IM_SKYPE}
			<A HREF="skype:{$item.uid}?call">{$item.uid}</A>
			{else}
			{$item.uid}
			{/if}
		</TD>
	</TR>
{/foreach}
{if $customerinfo.pin != 0}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/pin.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{$customerinfo.pin}
		</TD>
	</TR>
{/if}
{if $customerinfo.icn != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{trans("ICN")}: {$customerinfo.icn}
		</TD>
	</TR>
{/if}
{if $customerinfo.ssn != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{trans("SSN")}: {$customerinfo.ssn}
		</TD>
	</TR>
{/if}
{if $customerinfo.ten != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{trans("TEN")}: {$customerinfo.ten}
		</TD>
	</TR>
{/if}
{if $customerinfo.regon != ""}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
			{trans("REGON")}: {$customerinfo.regon}
		</TD>
	</TR>
{/if}

{if $customerinfo.bankaccount}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/card.gif" ALT="">
		</TD>
		<TD WIDTH="99%" NOWRAP>
			{format_bankaccount($customerinfo.bankaccount)}
		</TD>
	</TR>
{/if}
	<TR>
		<TD WIDTH="1%" style="vertical-align: top">
			<IMG SRC="img/options.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
		    <TABLE cellpadding="2">
		        <TR>
		            <TD>
			            {trans("Deadline:")}
			        </TD>
			        <TD>
			            {if $customerinfo.paytime == -1}{trans("default")}{else}{$customerinfo.paytime}&nbsp;{trans("days")}{/if}
		            </TD>
	            </TR>
                <TR>
                    <TD>
			            {trans("Payment type:")}
			        </TD>
			        <TD>
			            {assign var=paytype value=$customerinfo.paytype}{if $_PAYTYPES.$paytype}{$_PAYTYPES.$paytype}{else}{trans("default")}{/if}
		            </TD>
	            </TR>
                {if $customerinfo.cutoffstop > $smarty.now}
			    <TR>
			        <TD colspan="2">
			            <FONT class="alert">
			            {t a=$customerinfo.cutoffstop|date_format:"%Y/%m/%d"}Cutoff suspended to $a{/t}
			            </FONT>
			        </TD>
			    </TR>
                {/if}
            </TABLE>
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%" style="vertical-align: top">
			<IMG SRC="img/options.gif" ALT="">
		</TD>
		<TD WIDTH="99%">
		    <TABLE cellpadding="2">
		        <TR>
		            <TD>
			            {trans("Consent to personal data processing:")}
		            </TD>
		            <TD>
		                {if $customerinfo.consentdate}{$customerinfo.consentdate}{else}{trans("no")}{/if}
	                </TD>
	            </TR>
	            <TR>
	                <TD>
			            {trans("Consent to electronic invoices:")}
            		</TD>
            		<TD>
            		    {if $customerinfo.einvoice}{trans("yes")}{else}{trans("no")}{/if}
	                </TD>
	            </TR>
	            <TR>
	                <TD>
            			{trans("Consent to invoices delivery via e-mail:")}
            		</TD>
            		<TD>
            		    {if $customerinfo.invoicenotice}{trans("yes")}{else}{trans("no")}{/if}
	                </TD>
	            </TR>
                <TR>
                    <TD>
			            {trans("Consent to messages delivery via e-mail or sms:")}
		            </TD>
		            <TD>
		                {if $customerinfo.mailingnotice}{trans("yes")}{else}{trans("no")}{/if}
	                </TD>
	            </TR>
            </TABLE>
        </TD>
    </TR>

                                        </TABLE>
				</TD>
				<TD WIDTH="50%" style="vertical-align:top;">
					<TABLE WIDTH="100%" CELLPADDING="3">
	{if $customerinfo.info}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/info1.gif" ALT="">
		</TD>
		<TD WIDTH="99%" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
				<TR>
					<TD CLASS="fall superlight">
						{$customerinfo.info|replace:"\n":"<BR>"}
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	{if $customerinfo.message}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/warningon.gif" ALT="">
		</TD>
		<TD WIDTH="99%" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
				<TR>
					<TD CLASS="fall superlight">
						{$customerinfo.message|replace:"\n":"<BR>"}
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	{if $customerinfo.notes}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/note.gif" ALT="">
		</TD>
		<TD WIDTH="99%" COLSPAN="2">
			<TABLE WIDTH="100%" CELLPADDING="5">
				<TR>
					<TD CLASS="fall superlight">
						{$customerinfo.notes|replace:"\n":"<BR>"}
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	{/if}
	{if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/money.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Balance:")}</B>
		</TD>
		<TD WIDTH="98%">
			{if $customerinfo.balance < 0}<FONT class="alert">{$customerinfo.balance|money_format}</FONT>{else}{$customerinfo.balance|default:"0"|money_format}{/if}
		</TD>
	</TR>
	{/if}
	<TR>
                <TD WIDTH="1%">
		        <IMG SRC="img/cms.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Last login:")}<BR>
		        {trans("Last failed login:")}</B>
		</TD>
		<TD WIDTH="98%">
		        {if $customerinfo.up_logins.lastlogindate}{$customerinfo.up_logins.lastlogindate|date_format:"%Y/%m/%d %H:%M"} ({$customerinfo.up_logins.lastloginip}){else}-{/if}<BR>
			{if $customerinfo.up_logins.failedlogindate}{$customerinfo.up_logins.failedlogindate|date_format:"%Y/%m/%d %H:%M"} ({$customerinfo.up_logins.failedloginip}){else}-{/if}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="1%">
			<IMG SRC="img/users.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Created:")}<BR>
			{trans("Modified:")}</B>
		</TD>
		<TD WIDTH="98%">
			{$customerinfo.createdby}, {$customerinfo.creationdateh}<BR>
			{if $customerinfo.moddate}{$customerinfo.modifiedby}, {$customerinfo.moddateh}{else}-{/if}
		</TD>
	</TR>
 <TR CLASS="LIGHT">
               <TD WIDTH="1%">
                       <IMG SRC="img/uprate.gif" ALT="">
               </TD>
               <TD WIDTH="1%">
                       <B>{t}Przyspieszenie stazowe{/t}</b><br>
			<A HREF="javascript:changestazowe()">Przelicz stazowe</a><br> 
			<!--<A HREF="javascript:changestazowe10p()">+10% do 25 dnia</a><br>-->
			<A HREF="javascript:zerujstazowe()">Wyzeruj stazowe</a> 
               </TD>
               <TD WIDTH="98%">
                       {if $customerinfo.stazowe}<b>+ {$customerinfo.stazowe}%</b>{else}nieaktywne{/if}
		</TD>
	</TR>
       <TR CLASS="LIGHT">
               <TD WIDTH="1%">
                       <IMG SRC="img/uprate.gif" ALT="">
               </TD>
               <TD WIDTH="1%">
                       <B>{t}Przyspieszenie nocne{/t}</b><br>
			<A HREF="javascript:changenocne()">Przelicz nocne</a><br> 
			<A HREF="javascript:zerujnocne()">Wyzeruj nocne</a> 
               </TD>
               <TD WIDTH="98%">
                       {if $customerinfo.nocka}<b>aktywne</b>{else}<red>nieaktywne</red>{/if}
		</TD>
	</TR>
       <TR CLASS="LIGHT">
               <TD WIDTH="1%">
                       <IMG SRC="img/uprate.gif" ALT="">
               </TD>
               <TD WIDTH="1%">
                       <B>{t}Przyspieszenie dzienne{/t}</b><br>
			<A HREF="javascript:changedzienne()">Przelicz dzienne</a><br> 
			<A HREF="javascript:zerujdzienne()">Wyzeruj dzienne</a> 
               </TD>
               <TD WIDTH="98%">
                       {if $customerinfo.bonus}<b>+ 20%</b>{else}<red>nieaktywne</red>{/if}
		</TD>
	</TR>
       <TR CLASS="LIGHT">
               <TD WIDTH="1%">
                       <IMG SRC="img/downrate.gif" ALT="">
               </TD>
               <TD WIDTH="1%">
                       <B>{t}Aktualne Downrate{/t}
               </TD>
               <TD WIDTH="98%">
                       <B>{if $customerinfo.downrate}<red>{$customerinfo.downrate} kbit</red> {else}0 kbit{/if}</b> (64 kbit min)
		</TD>
	</TR>
       <TR CLASS="LIGHT">
               <TD WIDTH="1%">
                       <IMG SRC="img/uprate.gif" ALT="">
               </TD>
               <TD WIDTH="1%">
                       <B>{t}Aktualne Uprate{/t}
               </TD>
               <TD WIDTH="98%">
                       <B>{if $customerinfo.uprate}<blue>{$customerinfo.uprate} kbit</blue> {else}0 kbit{/if}</b> (64 kbit min)
		</TD>
	</TR>
       <TR CLASS="LIGHT">
               <TD WIDTH="1%">
                       <IMG SRC="img/downrate.gif" ALT="">
               </TD>
               <TD WIDTH="1%">
                       <B>{t}Zwolnienie{/t}
               </TD>
               <TD WIDTH="98%">
                       {if $customerinfo.quota}<FONT class="alert">{$customerinfo.quota}%</FONT> <IMG SRC="img/exclamation.gif" ALT="">{else}nieaktywne{/if}
		</TD>
	</TR>
  <TR CLASS="LIGHT">
               <TD WIDTH="1%">
                       <IMG SRC="img/wait.gif" ALT="">
               </TD>
               <TD WIDTH="1%">
                       <B>{t}<a href="?m=przelicz_pasmo&id={$customerinfo.id}">Przelicz pasmo</a>{/t}
               </TD>
               <TD WIDTH="98%">
                 </TD>
	</TR>

        <TR><TD></TD></TR>
        <TR><TD></TD></TR>
        <TR CLASS="LIGHT">
                <TD WIDTH="1%">
                        <IMG SRC="img/info.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>Uprzykrzacz:</B>
                </TD>
                <TD WIDTH="98%">
                        {if $customerinfo.odlaczenieaktywne}<img src="img/exclamation.gif">W&#322;&#261;czony{else}Wy&#322;&#261;czony{/if}
                        &nbsp;&nbsp;&nbsp;&nbsp;<A HREF="javascript:changevalue()"><img src="img/warningmix.gif">&nbsp;Zmie&#324;</a>
                </TD>
        </TR>
        <TR CLASS="LIGHT">
                <TD WIDTH="1%">
                        <IMG SRC="img/options.gif" ALT="">
                </TD>
                <TD WIDTH="1%">
                        <B>Akcja:</B>
                </TD>
                <TD WIDTH="98%">
                        <form name="form1">
                        <INPUT TYPE="radio" NAME="msg[type]" ID="operation0" VALUE="0" {if $customerinfo.typodlaczenia == 0}CHECKED{/if} onmouseover="return overlib('Wybierz typ operacji',HAUTO,VAUTO,OFFSETX,15,OFFSETY,15);" onmouseout="nd();"><A HREF="javascript:checkElement('operation0')">brak</a>
                        <INPUT TYPE="radio" NAME="msg[type]" ID="operation1" VALUE="1" {if $customerinfo.typodlaczenia == 1}CHECKED{/if} onmouseover="return overlib('Wybierz typ operacji',HAUTO,VAUTO,OFFSETX,15,OFFSETY,15);" onmouseout="nd();"><A HREF="javascript:checkElement('operation0')">p&#322;atno&#347;ci</a>
                        <INPUT TYPE="radio" NAME="msg[type]" ID="operation2" VALUE="2" {if $customerinfo.typodlaczenia == 2}CHECKED{/if} onmouseover="return overlib('Wybierz typ operacji',HAUTO,VAUTO,OFFSETX,15,OFFSETY,15);" onmouseout="nd();"><A HREF="javascript:checkElement('operation0')">wiadomo&#347;&#263;</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<A HREF="javascript:changetype()"><img src="img/confirm.gif">&nbsp;Zmie&#324;</a>
                        </form>
                </TD>
        </TR>
        <TR CLASS="LIGHT">
                <TD WIDTH="1%">
                        <IMG SRC="img/note.gif" ALT="">
                </TD>
                <TD WIDTH="1%">
                        <B>Klikni&#281;cia:</B>
                </TD>
                <TD WIDTH="98%">
                        {if !$customerinfo.licznikodlaczen}brak{else}{$customerinfo.licznikodlaczen}{/if}
                        &nbsp;&nbsp;&nbsp;&nbsp;<A HREF="javascript:clearcounter()"><img src="img/eraser.gif">&nbsp;Wyzeruj</a>
                </TD>
        </TR>
        <TR CLASS="LIGHT">
                <TD WIDTH="1%">
                        <IMG SRC="img/time.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>Ostatnie klikni&#281;cie:</B>
                </TD>
                <TD WIDTH="98%">
                        {if !$customerinfo.lastclickdate}brak{else}{$customerinfo.lastclickdate|date_format:"%Y/%m/%d %H:%M:%S"}{/if}
                        &nbsp;&nbsp;&nbsp;&nbsp;<A HREF="javascript:clearlastclick()"><img src="img/eraser.gif">&nbsp;Wyzeruj</a>
                </TD>
        </TR>
<TR CLASS="LIGHT">
                <TD WIDTH="1%">
                        <IMG SRC="img/recover.gif" ALT="">
                </TD>
                <TD WIDTH="1%" NOWRAP>
                        <B>Zg&#322;oszenia:</B>
                </TD>
                <TD WIDTH="98%"><a href="?m=rtticketadd&id=Array&customerid={$customerinfo.id}">Nowe</a><b><font color="green"> {$new}</font></b>  | <A HREF="?m=rtsearch&id={$customerinfo.id}"> Otwarte</A> 
 <b><font color="blue">{$open}</font></b> | Rozwi&#261;zane <b>{$resolved}</b> |   Wszystkie <b>{$all}</b> </TD>
        </TR>

                                        	</TABLE>
					</TD>
				</TR>
			</TABLE>
{if !$customerpanel}
		</TD>
        </TR>
	<TR>
		<TD WIDTH="100%" ALIGN="RIGHT">
{/if}
			{if $customerinfo.deleted}
				<A HREF="?m=customeredit&id={$customerinfo.id}&action=recover">{trans("Restore")} <IMG SRC="img/recover.gif" ALT="[ {trans("Restore")} ]"></A>
			{else}
				<NOBR>
				<A HREF="?m=rtsearch&id={$customerinfo.id}">{trans("Tickets")}</A> <IMG src="img/ticket.gif" alt="[ {trans("Tickets")} ]"></A>
				<A href="?m=accountlist&u={$customerinfo.id}">{trans("Accounts")} <IMG src="img/account.gif" alt="[ {trans("Accounts")} ]"></A>
				<A href="?m=domainlist&c={$customerinfo.id}">{trans("Domains")} <IMG src="img/network.gif" alt="[ {trans("Domains")} ]"></A>
				<A href="?m=trafficprint&type=customertraffic&customer={$customerinfo.id}" target="_blank">{trans("Stats")} <IMG src="img/traffic.gif" alt="[ {trans("Stats")} ]"></A>
				</NOBR>
				<NOBR>
				<A href="?m=customeredit&id={$customerinfo.id}" ACCESSKEY="E">{trans("Edit")} <IMG src="img/edit.gif" alt="[ {trans("Edit")} ]"></A>
				<A href="?m=customerdel&id={$customerinfo.id}" onClick="return confirmLink(this, '{trans("Are you sure, you want to remove that customer from database?\n\nIf that customer have any computers, they will be automatically removed from database too, and information about them irreversible losed!")}')">{trans("Delete")} <img src="img/delete.gif" alt="[ {trans("Delete")} ]"></A>
				</NOBR>
			{/if}
			{if $info_link}
				<A href="?m=customerinfo&id={$customerinfo.id}">{trans("Info")} <img src="img/info.gif" alt="[ {trans("Info")} ]"></A>
			{/if}
		</TD>
	</TR>
        </TBODY>
</TABLE>
{if $customerpanel}
<SCRIPT type="text/javascript">
<!--
	if (getCookie('customerpanel') == '1')
	{
		document.getElementById('customerpanel').style.display = '';
	}
//-->
</SCRIPT>
{/if}
