assets/*
templates_c/*
userpanel/templates_c/*
lib/Smarty/*
nbproject/private
lms.ini
backups/*
documents/*
cache/*
contrib/LMS2Nagios-php/generated/*
lib/teryt/*
index.php
userpanel/index.php
# Temporary files
*~
*.swp
*.swo

# Object files
*.o

# Shared objects
*.so

# Executables
daemon/lmsd
/vendor/
