{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<H1>{$layout.pagetitle}</H1>
<FORM NAME="search" METHOD="POST" ACTION="?m=searchdevice">
<INPUT type="submit" class="hiddenbtn">
<TABLE class="lmsbox">
	<TR CLASS="DARK">
		<TD CLASS="FALL" COLSPAN="3">
			<B>{trans("Find devices matching the following search criteria:")}</B>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/search.gif" ALT="">
		</TD>
		<TD WIDTH="1%">
			<B>{trans("Name:")}</B>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="search[name]" VALUE="" {tip text="Enter device name or it's fragment"}> 
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/producer.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Dostawca:")}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="search[vendor]" VALUE="" {tip text="Enter provider name or it's fragment"}>
		</TD>
	</TR>
		<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/serialnumber.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Serial number:")}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="search[serialnumber]" VALUE="" {tip text="Enter device serial number or it's fragment"}>
		</TD>
	</TR>
				<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="FLEFT">
			<IMG SRC="img/desc.gif" ALT="">
		</TD>
		<TD WIDTH="1%" NOWRAP>
			<B>{trans("Description:")}</B>
		</TD>
		<TD WIDTH="98%" CLASS="FRIGHT">
			<INPUT TYPE="TEXT" NAME="search[info]" VALUE="" {tip text="Enter additional information"}>
		</TD>
	</TR>
		<TR CLASS="LIGHT">
		<TD WIDTH="100%" CLASS="FBOTTOMU" COLSPAN="3" ALIGN="RIGHT">
			<A HREF="javascript:document.search.submit();" ACCESSKEY="s">{trans("Submit")} <IMG SRC="img/save.gif" alt=""></A>
			<A HREF="?m=netdevlist">{trans("Cancel")} <IMG SRC="img/cancel.gif" alt=""></A>
		</TD>
	</TR>	
</TABLE>
</FORM>
<SCRIPT type="text/javascript">
<!--
document.forms['search'].elements['search[name]'].focus();
//-->
</SCRIPT>
{/block}
